# Activity: Intro to BigQuery

## Overview

This activity let us explore the BigQuery interface, upload public data to the console and write simple SQL queries to answer specific questions.

## Dataset

We will use the BigQuery public dataset called `london_bicycles` and use the `cycle_hire` table. The full table path is `bigquery-public-data.london_bicycles.cycle_hire`. Below is a screenshot of schema of this table:

![Cycle Hire Data Schema](c03m03-london-cycle-hire-schema.png 'Cycle Hire Data Schema')

## Query 1: Which bike rides were 20 minutes or longer?

The trip duration is captured in seconds. To determine this, we need to filter for rides that had a duration greater than or equal to 1200 seconds (60 seconds to a minute multiplied by 20 minutes). This the query executed in BigQuery to extract the relevant records:

In [ ]:
SELECT
    duration,
    start_station_name
FROM
    `bigquery-public-data.london_bicycles.cycle_hire`
WHERE
    duration >= 1200;

The query has identified that **26441016** of the recorded 83434866 rides were 20 minutes or longer. Below is a preview of the query results:

![Query 1 Results](c03m03-intro-to-bigquery-q1.png 'Query 1 Results')

## Query 2: What is the name of the station whose start_station_id is 111?

The name of the station with the start_station_id 111 is **Park Lane, Hyde Park**. To obtain this information, the following query was used:

In [ ]:
SELECT
    start_station_name
FROM
    `bigquery-public-data.london_bicycles.cycle_hire`
WHERE
    start_station_id = 111
LIMIT 1;

## Query 3: Which stations did the bike with bike_id 1710 start from?

The following query was executed to return the rental_id, start_station_id and start_station_name of all rides recorded with the bike with bike_id 1710:

In [ ]:
SELECT
  rental_id,
  start_station_id,
  start_station_name
FROM
  `bigquery-public-data.london_bicycles.cycle_hire` 
WHERE
  bike_id = 1710;

The query identified **4543** rides that were undertaken on the bike with bike_id 1710 and below is a preview of the query results:

![Query 3 Results](c03m03-intro-to-bigquery-q3.png 'Query 3 Results')

## Query 4: What is the bike_model of bike_id 58782?

The bike_id 58782 is a **CLASSIC** bike_model and the following query was executed to answer this question:

In [ ]:
SELECT
    bike_model
FROM
    `bigquery-public-data.london_bicycles.cycle_hire` 
WHERE
    bike_id = 58782
LIMIT 1;

## Query 5: At what station did the bike trip with rental_id 57635395 end?

The bike trip with rental_id 57635395 ended at the **East Village, Queen Elizabeth Olympic Park** station. The following query was executed to answer this question:

In [ ]:
SELECT
    end_station_name
FROM
    `bigquery-public-data.london_bicycles.cycle_hire` 
WHERE
    rental_id = 57635395;