# Activity: Clean data using SQL

## Overview

As a data analyst working with a used car dealership startup venture, you need to find out which cars are most popular with customers so that the investors can make sure to stock accordingly. For this activity, we will:

- create a custom dataset in BigQuery,
- import a .csv file as a new table in the BigQuery dataset, and
- use SQL queries to clean automobile data.

## Dataset

The data is obtained from an external source and contains historical sales data on car prices and their features. The data can be downloaded from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/10/automobile), [Google Sheets](https://docs.google.com/spreadsheets/d/1GRu_BUz4T6GcsQQindn_pkltkmA94M-HU6BWCfpjMWE/edit?usp=sharing) or directly by downloading the [.csv file](/activities/sql/c04m03-clean-data-using-sql/c04m03-automobile-data.csv). A preview of the comma-delimited file is show below.

![Automobile data in csv](c04m03-automobile-data-csv.png 'Automobile data in csv')

## Importing the data in BigQuery

The following steps are followed to import the baby names data for 2014 to BigQuery:

- **Create dataset** with **Dataset ID** `cars`
- In the **Dataset info** window, select the **CREATE TABLE** button
- In the **Source** section, select the ***Upload*** option in **Create table from**
- Browse to the `c04m03-automobile-data.csv` file and open
- Set the file format to `.csv`
- In the **Destination** section, name the table as `car_info`
- In the **Schema** section, select **Auto detect**

Finally, select **Create table**. A new table `car_info` has been created and appear in the explorer pane under the database `cars`. A preview of the data is show below.

![Automobile data in BigQuery](c04m03-automobile-data-bigquery.png 'Automobile data in BigQuery')

## Data cleaning

The data is described in full by [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/10/automobile) (the **"data description"**) and the acceptable values or ranges for every variable. It also makes a note of which variables contain missing values.

### Variable | make

This column should only contain one of these values: alfa-romero, audi, bmw, chevrolet, dodge, honda, isuzu, jaguar, mazda, mercedes-benz, mercury, mitsubishi, nissan, peugot, plymouth, porsche, renault, saab, subaru, toyota, volkswagen, volvo. According to the data description, there are no missing values. I run the following query for confirm this:

In [ ]:
SELECT
  DISTINCT make
FROM
  `plucky-aegis-427011-v5.cars.car_info`
ORDER BY make;

The above query only delivers the expected values and indicates no missing values. If I were able to execute UPDATE queries in a BigQuery sandbox account, however, I would also execute this query to correct the spelling of "peugot" to "peugeot" in the dataset:

In [ ]:
UPDATE
  `plucky-aegis-427011-v5.cars.car_info`
SET
  make = 'peugeot'
WHERE
  make = 'peugot';

### Variable | fuel_type

According to the data description, the fuel type can only be diesel or gas, and there should be no missing values. Running the query below confirms that values are only either diesel or gas, and that there are no null values:

In [ ]:
SELECT
  DISTINCT fuel_type
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

### Variable | num_of_doors

The data description indicates that the number of doors should be either two or four, but that there are missing values present. I execute the following queries:

In [ ]:
SELECT
  DISTINCT num_of_doors
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

/* This query confirmed that the values are either two or four, but that some values are missing. The next query determines which rows have missing values */

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  num_of_doors IS NULL;

The query returns two rows:

1. make: dodge, fuel_type: gas, body_style: sedan
2. make: mazda, fuel_type: diesel, body_style: sedan

The sales manager confirms that all Dodge gas sedans and all Mazda diesel sedans sold had four doors. If I were able to execute UPDATE queries in a BigQuery sandbox account, I would execute these queries to update the two rows to have four doors:

In [ ]:
UPDATE -- row 1 for dodge
    `plucky-aegis-427011-v5.cars.car_info`
SET
    num_of_doors = "four"
WHERE
    make = "dodge"
    AND fuel_type = "gas"
    AND body_style = "sedan";

UPDATE -- row 2 for mazda
    `plucky-aegis-427011-v5.cars.car_info`
SET
    num_of_doors = "four"
WHERE
    make = "mazda"
    AND fuel_type = "diesel"
    AND body_style = "sedan";

### Variable | body_style

According to the data description, the body type has no missing values and should only be one of these values: hardtop, wagon, sedan, hatchback, convertible. Executing the query below confirms this:

In [ ]:
SELECT
  DISTINCT body_style
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

### Variable | drive_wheels

It is indicated in the data description that there are no missing values for this variable and that it should only contain the values 4wd, fwd, rwd. I execute the following query:

In [ ]:
SELECT
  DISTINCT drive_wheels
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

This confirms that there are no missing values, but 4wd is returned as two unique values. To identify the rows that have leading and trailing spaces, I execute the following query:

In [ ]:
SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  drive_wheels NOT IN ('4wd','fwd','rwd');

Five rows are identified. If I were able to execute UPDATE queries in a BigQuery sandbox account, I would execute the following query to update this variable by removing any extra spaces:

In [ ]:
UPDATE
    `plucky-aegis-427011-v5.cars.car_info`
SET
    drive_wheels = TRIM(drive_wheels);

### Variable | engine_location

According to the data description, the engine location can only be front or rear, and there should be no missing values. Running the query below confirms that values are only either front or rear, and that there are no null values:

In [ ]:
SELECT
  DISTINCT engine_location
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

### Variable | wheel_base

The values for this variable should be between 86.6 and 120.9 with no missing values. The two queries below confirms that this data does not need cleaning:

In [ ]:
SELECT
  MIN(wheel_base) AS min_wheel_base,
  MAX(wheel_base) AS max_wheel_base
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_wheel_base 86.6, max_wheel_base 120.9

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  wheel_base IS NULL;

-- no results

### Variable | length

The data description indicates that the values should be continuous from 141.1 to 208.1 with no missing values. The following queries confirms this:

In [ ]:
SELECT
  MIN(length) AS min_length,
  MAX(length) AS max_length
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_length 141.1, max_length 208.1

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  wheel_base IS NULL;

-- no results

### Variable | width

The values for this variable should be between 60.3 and 72.3 with no missing values. The two queries below confirms that this data does not need cleaning:

In [ ]:
SELECT
  MIN(width) AS min_width,
  MAX(width) AS max_width
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_width 60.3, max_width 72.3

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  width IS NULL;

-- no results

### Variable | height

The data description indicates that the values should be continuous from 47.8 to 59.8 with no missing values. The following queries confirms this:

In [ ]:
SELECT
  MIN(height) AS min_height,
  MAX(height) AS max_height
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_height 47.8, max_height 59.8

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  height IS NULL;

-- no results

### Variable | curb_weight

The values for this variable should be between 1488 and 4066 with no missing values. The two queries below confirms that this data does not need cleaning:

In [ ]:
SELECT
  MIN(curb_weight) AS min_curb_weight,
  MAX(curb_weight) AS max_curb_weight
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_curb_weight 1488, max_curb_weight 4066

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  curb_weight IS NULL;

-- no results

### Variable | engine_type

This column should only contain one of these values: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. According to the data description, there are no missing values. I run the following query for confirm this:

In [ ]:
SELECT
  DISTINCT engine_type
FROM
  `plucky-aegis-427011-v5.cars.car_info`
ORDER BY engine_type;

### Variable | num_of_cylinders

This variable should not contain any missing values and be one of these values: eight, five, four, six, three, twelve, two. I execute the following query to confirm:

In [ ]:
SELECT
    DISTINCT num_of_cylinders
FROM
    `plucky-aegis-427011-v5.cars.car_info`
ORDER BY num_of_cylinders;

The query results confirm that there are no missing values, but that there was a data capturing error in that "two" has been entered as "tow". If I were able to execute UPDATE queries in a BigQuery sandbox account, however, I would also execute this query to correct it in the dataset:

In [ ]:
UPDATE
    `plucky-aegis-427011-v5.cars.car_info`
SET
    num_of_cylinders = "two"
WHERE
    num_of_cylinders = "tow";

### Variable | engine_size

The data description indicates that the values should be continuous from 61 to 326 with no missing values. The following queries confirms this:

In [ ]:
SELECT
  MIN(engine_size) AS min_engine_size,
  MAX(engine_size) AS max_engine_size
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_engine_size 61, max_engine_size 326

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  engine_size IS NULL;

-- no results

### Variable | fuel_system

This variable should not contain any missing values and be one of these values: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. I execute the following query to confirm:

In [ ]:
SELECT
    DISTINCT fuel_system
FROM
    `plucky-aegis-427011-v5.cars.car_info`
ORDER BY fuel_system;

### Variable | compression_ratio

The values for this variable should be between 7 and 23 with no missing values. I execute the following queries to confirm:

In [ ]:
SELECT
  MIN(compression_ratio) AS min_compression_ratio,
  MAX(compression_ratio) AS max_compression_ratio
FROM
  `plucky-aegis-427011-v5.cars.car_info`;

-- min_compression_ratio 7.0, max_compression_ratio 70.00

SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  compression_ratio IS NULL;

-- no results

The maximum value is 70 and not 23. This is likely a data capturing error where a 7 was incorrectly captured as a 70. I execute the following query to investigate whether the 70 is an outlier:

In [ ]:
SELECT
  *
FROM
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  compression_ratio > 23;

The query results return only one row with a compression_ratio of 70 and this row can be safely removed from the dataset. Unfortunately in the BigQuery sandbox account, DELETE queries are unavailable. However, this query would resolve this problem:

In [ ]:
DELETE
  `plucky-aegis-427011-v5.cars.car_info`
WHERE
  compression_ratio = 70;